.dropdown {
	width: 100px;
	padding: 5px;
	margin-right: 5px;
	outline: none;
	border-radius: 5px;
	background-color: #fff;
}
.resetbtn {
	background-color: white;
	border: none;
	cursor: pointer;
	color: rgb(15, 197, 243);
}
